# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod] 
# Ignore specific file
hyperparameters/hyperparameters.json
test.py
# Ignore everything in a specific folder
bookkeeping/log_folder/
.vscode/
venv/
checkpoints/